<div class="container">
	<h1>{{ site.personal.title }}</h1>
	<h2>{{ site.personal.tagline }}</h2>
	<ul class="social">
		<a href="https://github.com/{{ site.personal.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		<a href="https://linkedin.com/{{ site.personal.social_links.linkedIn }}"><li><i class="icon-linkedin-squared"></i></li></a>
		<a href="https://instagram.com/{{ site.personal.social_links.instagram }}"><li><i class="icon-instagram"></i></li></a>	
	</ul>
</div>