@import 'ext/solarized-light';

.highlighter-rouge {
    width: 100vw;
    position: relative;
    margin: 40px 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
}

div.highlighter-rouge {
    right: 150px;
}

.highlight {
	background-color: #f4f4f4;
}

div.highlight {
	padding: 30px 150px;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
}